<!DOCTYPE html>
<html lang="{{language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		{{&assets}}
	</head>
	<body>
		<table class="center container">
			<tr>
				<td>
					{{&inc/top}}
				</td>	
			</tr>
			<tr>
				<td class="left">
					<h2 class="center">Top 10</h2>
					<ol class="topList">
					{{#trends}}
						<li>
							<a href="/s/{{domain}}">
							<img src="https://external-content.duckduckgo.com/ip3/{{domain}}.ico" class="miniFavicon">
							{{domain}}
							</a>
						</li>
					{{/trends}}
					</ol>
				</td>
			</tr>
		</table>
	</body>
</html>