<!DOCTYPE html>
<html lang="{{language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		{{&assets}}
	</head>
	<body>
		<table width="800" class="center container">
			<tr>
				<td colspan="3">
{{&inc/top}}
				</td>	
			</tr>
			<tr>
				<td colspan="3">

				</td>
			</tr>
			<tr>
				<td width="33%"></td>
				<td>
					<h1>Rank: {{rank}}</h1>
					<h2><a href="https://{{domain}}" target="_blank">{{domain}}</a></h2>
					<h3>
					Hits: {{hits}}
					</h3>
					<p>
						<a href="/top"><strong>Ver 1 milhão de sites</strong></a>
					</p>
				</td>
				<td width="33%"></td>
			</tr>
		</table>
	</body>
</html>