<!DOCTYPE html>
<html lang="{{language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}} | {{SITE_NAME}}</title>
		{{&assets}}
	</head>
	<body>
		<table width="800" class="center container">
			<tr>
				<td>
					{{&inc/top}}
				</td>	
			</tr>
			<tr>
				<td>
					<h1>Rank: {{rank}}</h1>
					<h2>
						<a href="https://{{domain}}" target="_blank">
						<img src="https://external-content.duckduckgo.com/ip3/{{domain}}.ico" class="largeFavicon">
						<br>
						{{domain}}
						</a>
					</h2>
					<h3>
					Hits: {{hits}}
					</h3>
				</td>
			</tr>
		</table>
	</body>
</html>