/*classes*/
.center{
	text-align:center;
}
.container{
	margin:0 auto;
	max-width:100%;
	width:480px;
}
.largeFavicon{
	height:64px;
	width:64px;
}
.left{
	text-align:left;
}
.miniFavicon{
	display:inline-block;
	height:20px;
	margin-bottom:-5px;
	width:20px;
}
.topList li{
	line-height:1.75em;
}
/*tags*/
a{
	color:blue;
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;
}
button{
	cursor:pointer;
}
body{
	font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
}
h1,h1 a{
	color: red;
	border-width: 0;
}
h2 a{
	color:black;
}
h1 a:hover{
	border-width: 100%;
	text-decoration:underline;
}
label{
	font-weight:bold;
}
input[type=text]{
	width:100%;
}
